.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

label {
  white-space: pre;
  word-break: break-word;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

/* todo list */
